@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

/* Hide scrollbar buttons */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  /* background: transparent; Background of the scroll track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(146, 89, 37, 0.7); /* Custom brown color */
  border-radius: 10px;
  /* Rounded corners for the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(115, 70, 30); /* Darker brown on hover */
}

/* Hide scrollbar buttons by making them transparent */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}
